body {
	background-color: #fff;
}
/*============================================ ADJUSTMENT  =================================================*/
.menubox{
	padding:5px;
	height:50px;
	background-color: #aaf7b3;
	color: #1c6b34;
	margin-left:15px;
	border:2px solid #1c6b34;
	border-radius: 5px;
	margin-bottom: 15px;
	cursor: pointer;
}

.menubox label{
	cursor: pointer;	
	color: #1c6b34;
	text-align: center;
}

/* sidebar */
.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu{
	background-color: #fff;
}

.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
	border-top: 1px solid #fff;
}

.form-group{
    margin-bottom: 5px;
}

.page-header.navbar {
    background-color: #fff;
}