/* 

Terramia - CSS File

CHANGE COLOR STYLE

*/

body {
	color:#787371;
	background:#34302f url(../images/line-top.png) repeat-x top;
}


#bodychild {
	background:url(../images/bg-body.gif);
}

/*============================================== GENERAL SECTION ==============================================*/
a, .colortext{color:#c73b38;}
a:hover {color:#707070;}


/* Heading & text */
h1, h2, h3, h4, h5, h6, #headline{color:#1d1817;}



/*============================================== HEADER AND MENU SECTION ==============================================*/
#logo h1 a, #logo h1 a:visited{color:#34302f;}
#logo .desc{ color:#c73b38}
.logo-icon-l{ background:url(../images/logo-left.png) no-repeat right;}
.logo-icon-r{ background:url(../images/logo-right.png) no-repeat left;}

.top-text{ color:#9d9794}
.bg-left{ background:url(../images/bg-l.png) no-repeat ;}
.bg-right{ background:url(../images/bg-r.png) no-repeat right;}


#navigation{}
.nav-left{background:url(../images/bg-nav-l.png) no-repeat left}
.nav-right{}
#nav-wrap{background:url(../images/bg-nav-r.png) no-repeat right;}
.sf-menu a, .sf-menu a:visited{color:#fff;}/* 1st level */
.sf-menu a:hover, .sf-menu li.current > a{color:#fff; background:#db7977;  }/* 1st level */
.sf-menu li:hover, .sf-menu li.current{}
.sf-menu > li a{ }

/* dropdown */

.sf-menu li li a, .sf-menu li li a:visited{color:#fff;}
.sf-menu li li:hover, .sf-menu li li a:hover, sf-menu li.current li a {color:#fff;}
.sf-menu li li:hover, .sf-menu li li.current{ background:#db7977;  }
.sf-menu ul{background: url(../images/bg-nav.png);}
.sf-with-ul{}
.sf-menu li li {}

.tinynav{background:#fff; border:1px solid #eaeaea;}

/* Search */
#searchform .bg-right input{ border:0px; background:transparent; color:#9d9794; box-shadow:none}
.searchbutton {
    background: url("../images/but-search.png") no-repeat scroll 0 0px transparent !important;
}




/*============================================== SLIDER SECTION ==============================================*/

#slider{ border:10px solid #fff;}
.flex-caption{ background:url(../images/opacity.png); color:#fff;}
.flex-caption .title-wrap{ background:url(../images/bg-slider-title.png) no-repeat center}
.flex-caption h1{ color:#fff;}


/*============================================== BEFORE CONTENT SECTION ==============================================*/
#outerbeforecontent{ background:url(../images/line-full.png) no-repeat top;}



/*============================================== CONTENT SECTION ==============================================*/


/* Form */
input[type="text"],
textarea, input[type="password"], select{
	border:solid 3px #fff;
	color:#666;
	background:#efefef;
}

input[type="text"],
textarea, input[type="password"]{
    -moz-box-shadow:inset 1px 2px 2px #cecece;
    -webkit-box-shadow:inset 1px 2px 2px #cecece;
    box-shadow:inset 1px 2px 2px #cecece;
}

label{ color:#707070;}
span.required{ color:#f00;}

/* Horizontal Line */
hr {
	color:#e8e8e8;
	background-color:#e8e8e8;
}

.separator { background-image:url(../images/line.png); background-repeat:no-repeat; background-position:center;}
.separator.full{background-image:url(../images/line-full.png); background-repeat:no-repeat; background-position:center;}

.line-one-third{ background:url(../images/line-one-third.png) no-repeat center;}
.line-one-half{ background:url(../images/line-one-half.png) no-repeat center;}


/* image */
.frame, .avatar{ border:10px solid #fff;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.list li{background:url(../images/dot.png) no-repeat 0 7px;}



/* Carousel */
.carousel-nav .port-nav.right { background:url(../images/nav-next.png) no-repeat center; right: 0px; margin-left:10px; }
.carousel-nav .port-nav.left { background:url(../images/nav-prev.png) no-repeat center; }
.carousel-nav .port-nav.right:hover{background:url(../images/nav-next-hover.png) no-repeat center;}
.carousel-nav .port-nav.left:hover { background:url(../images/nav-prev-hover.png) no-repeat center; }
.ts-img .image{border:10px solid #fff}
.ts-text .price{color:#c73b38}


/* Gallery Images */
.image .text h3{ color:#fff}


/* Button */
.button, .button:visited, input[type="submit"]{
	background:url(../images/button.png) no-repeat;
	color:#fff;
	border:0;
}
.button:hover, input[type="submit"]:hover{
	background: url(../images/but-hover.png) no-repeat;
	color:#fff;
	border:0;
}

.button2{
	background: url(../images/but-hover.png) no-repeat;
	color:#fff;
	border:0;
}
.button2:hover{
	background:url(../images/button.png) no-repeat;
	color:#fff;
	border:0;
}

#contactform .button{
	background:url(../images/button2.png) no-repeat;
}
#contactform .button:hover{
	background:url(../images/but2-hover.png) no-repeat;
}


/* Blockquote */
blockquote{ border-left:4px solid #c73b38; color:#c73b38}


/* Dropcaps */	
.dropcap1{text-shadow:1px 1px 0 #ededed; color:#444}
.dropcap2{color:#444; background:#f8f8f8; border:1px solid #f0f0f0;}		
.dropcap3{color:#444; background:#f8f8f8; border:1px solid #f0f0f0;}	

/* Highlight */
.highlight1{color:#fff; background:#444}	
.highlight2{background:#efefef;  border:solid 1px #f7f7f7}
.highlight3{border-bottom:dotted 1px #000}

/* Code */
code {
	border-left:4px solid #e9e9e9;
}
	
/* Tabs */
ul.tabs li {
	background: #f8f8f8;
	color:#444;
	border:1px solid #eaeaea;
	border-width:1px 1px 0px 0px;
}

ul.tabs li:first-child{ border-left:1px solid #eaeaea} 
ul.tabs li a {color:#444;}
ul.tabs li.active{
	background: #f3f3f3; 
	color:#444;
}
html ul.tabs li.active a{ color:#444; }
.tab-body{ border:1px solid #ededed;}

/* jQuery Toggles */
h2.trigger{color:#444;  background:#f8f8f8;}
h2.trigger span {color:#444; background:#f0f0f0;}
h2.active{ color:#c73b38;}
h2.active span{color:#666}
h2.trigger span:hover {color:#666} 
.toggle_container{ background:#f8f8f8;}


/* Tables */
th{
	background: #f8f8f8; /* for non-css3 browsers */
	color:#444;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}
thead th{border-right: 1px solid #eaeaea!important;}
table {border: 1px solid #eaeaea;border-bottom:0; border-right:0px;}
tr td {border-bottom: 1px solid #eaeaea; border-right: 1px solid #eaeaea;}
tr.odd td {background: #F2F7FC;}


/* Tagcloud */
.tagcloud a{border:solid 1px #f3f3f3;}
.tagcloud a:hover{border:solid 1px #303030; background:#303030; color:#fff !important;}


/*============================================== BLOG SECTION ==============================================*/
.post{ background:url(../images/line.png) no-repeat center bottom}
.post.last{ background:none;}
.posttitle a, .posttitle a:visited{color:#444;}
.posttitle a:hover{color:#c73b38}

.postimg{ border:10px solid #fff;}

.entry-comment{ background:#303030;}
.entry-comment a, entry-comment a:visited{color:#fff}

.entry-utility{ color:#787371;}
.entry-utility a, .entry-utility a:visited{}
.entry-utility a:hover{}


.commentlist li{}
.tdate, .reply a, .reply a:visited{color:#787371; }
.fn, .fn a, .fn a:visited{color:#1d1817;}
.reply a:hover, .fn a:hover{color:#c73b38}


#entry-author-info, .single .post{border-bottom: 1px solid #c8c8c8;}
#entry-author-info:before, .single .post:before{border-bottom: 1px solid #c8c8c8;}


.wp-pagenavi {
    border-top: 1px solid #c8c8c8;
}
.wp-pagenavi:before {
    border-top: 1px solid #c8c8c8;
}

.wp-pagenavi{ color:#787371}
.wp-pagenavi a, .wp-pagenavi a:visited{color:#fff; background:#34302f;}
.wp-pagenavi .current, .wp-pagenavi a:hover{color:#fff; background:#c73b38;}

/*============================================== PORTFOLIO SECTION ==============================================*/
#filter{}
#filter li a{ color:#fff; background: #c73b38;}
#filter li.current a, #filter li a:hover{color:#fff; background: #61848e;}
#filter li.current{}

.ts-pf-img .rollover, .ts-pf-img .zoom, .ts-pf-img .gotolink, .ts-pf-img .gotopost{background-color:#c73b38;}
.ts-pf-img .zoom{
	background:url(../images/hover-zoom.png);
	background-repeat:no-repeat;
	background-position:center;
}
.ts-pf-img .gotolink{
	background:url(../images/hover-link.png);
	background-repeat:no-repeat;
	background-position:center;
}
.ts-pf-img .gotopost{
	background:url(../images/hover-doc.png);
	background-repeat:no-repeat;
	background-position:center;
}

.ts-pf-text{border-bottom:solid 3px #c73b38;}
.ts-pf-text h2 a, .ts-pf-text h2 a:visited{color:#444;}
.ts-pf-text h2 a:hover{color:#c73b38;}


/*============================================== SIDEBAR SECTION ==============================================*/
.sidebar{}
.sidebar .widget-title{ background:url(../images/sidebar-title-line.png) no-repeat right top}
.sidebar .widget-title span{ background:url(../images/sidebar-title-line.png) no-repeat right bottom; display:block}

.sidebar li li{ background:url(../images/dot.png) no-repeat 0 7px;}
.sidebar li li:hover{ background:url(../images/dot-hover.png) no-repeat 0 7px;}
.sidebar li a, .sidebar li li a{color:#787371}
.sidebar li a:hover, .sidebar li li a:hover, .sidebar li li a.current{color:#c73b38;}

/* Recent Post */
.rp-widget li h3 a{color:#1d1817;}
.rp-widget li h3 a:hover{color:#c73b38;}
.rp-widget .smalldate{ color:#787371;}
.rp-widget li{border:0;}


/* */
.box-notice { background:url(../images/pattern.png); border:10px solid #fff; color:#1d1817}
.box-notice .line{ background:url(../images/line-small.png) no-repeat center;}
.box-notice .icon-l{ background:url(../images/icon-l.png) no-repeat left center}
.box-notice .icon-r{ background:url(../images/icon-r.png) no-repeat right center}
.box-notice span, .box-notice h2{ color:#c73b38}


/* Tag */
.tags a{background:#4a4a4a; color:#fff!important;}
.tags a:hover{background:#c73b38; color:#fff!important;}

/* Gallery */

ul.gallery li{ border:1px solid #414141;}

/*============================================== AFTER CONTENT SECTION ==============================================*/
#outeraftercontent{ background:#c73b38 url(../images/pattern2.png)}
#outeraftercontent .line-top{ background:url(../images/line-footer.png) repeat-x top;}
#outeraftercontent .line-bottom{background:url(../images/line-top.png) repeat-x bottom;}

#outeraftercontent .title-wrap h2{ color:#fff}
#outeraftercontent .title-wrap .line{background:url(../images/line-red.png) no-repeat center;}
#outeraftercontent .title-wrap .icon-l{background: url(../images/icon-white-l.png) no-repeat left center }
#outeraftercontent .title-wrap .icon-r{background: url(../images/icon-white-r.png) no-repeat right center }


/*============================================== FOOTER SECTION ==============================================*/


#footer{ color:#9c9c9c; background:url(../images/bg-footer.png);  }

#footersidebar .widget-title{ border-bottom:1px solid #404040;}
#footernav li{ border-right:1px solid #3a3b3b}

#outercopyright{ color:#e5e5e5; background:url(../images/line-footer.png) repeat-x top;}
#outercopyright a{ color:#8e695f;}
#outercopyright a:hover, #toTop:hover{ color:#fff}

/* Social */
.icon-img.twitter{background:url(../images/social/twitter.png)}
.icon-img.facebook{background:url(../images/social/facebook.png)}
.icon-img.google{background:url(../images/social/google.png)}
.icon-img.rss{background:url(../images/social/rss.png)}
.icon-img.pinterest{background:url(../images/social/pinterest.png)}