@media screen and (min-width: 768px){
	.app.signin.v2 .card .card-block, .app.signup.v2 .card .card-block {
		padding-top: 50px;
	}
}

.main-panel > .header {
	background: #d5cea6;
	background: -moz-linear-gradient(top,  #d5cea6 0%, #c9c190 40%, #b7ad70 100%);
	background: -webkit-linear-gradient(top,  #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
	background: linear-gradient(to bottom,  #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=0 );
}

.brand .brand-logo {
    margin-top: 0.5rem;
}

.sidebar-panel > nav li.open > a, .sidebar-panel > nav li.active > a{
	/* font-weight: bold; */
	color:#b7ad70;
}

.panel-primary > .panel-heading {
    border-color: #d5cea6;
    background-color: #c9c190;
}

.panel-primary {
	border:0;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(189,187,189,0.8);
	-moz-box-shadow: 1px 1px 1px 1px rgba(189,187,189,0.8);
	box-shadow: 1px 1px 1px 1px rgba(189,187,189,0.8);	
}

select.form-control{
	width:100%;
}

.panel-group .panel{
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}

.report-container{
	overflow: auto;
	width: auto;
	min-height: 90vh;

}

/*============================================ ADJUSTMENT  =================================================*/
.menubox{
	padding:5px;
	height:50px;
	background-color: #aaf7b3;
	color: #1c6b34;
	margin-left:15px;
	border:2px solid #1c6b34;
	border-radius: 5px;
	margin-bottom: 15px;
	cursor: pointer;
}

.menubox label{
	cursor: pointer;	
	color: #1c6b34;
	text-align: center;
}